@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bungee+Shade&family=Lily+Script+One&family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=Oleo+Script:wght@700&family=Rock+Salt&display=swap');

  .bg-inner-rounded-custom {
    border-radius: 0.75rem;
  }
}
